/*Using the hover function with the pseudo element*/
div:hover {
  transition: background-color 300ms;
  background-color: rgba(0, 0, 0, 0.5);
}
.nav__link{
    color: black;
}
.nav__link--active{
    color: purple;
    font-weight: bold;
}

/*Creating basic animation*/
button{
    animation: float 2000ms infinite alternate-reverse;
    transition: all 300ms;
}
button:hover{
    background: black;
    color: white;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
}