div{
    background-color: red;
    color: white;
    font-size: 24px;
}

/*This is an implementation of media queries*/
@media (max-width:500px){
    div{
        font-size: 20px;
    }
}

@media (max-width: 300px){
    div{
        font-size: 16px;
    }
}
@media (max-width: 150px){
    div{
        font-size: 13px;
    }
}