h3 {
  color: red;
}
/*These are the basic common features of CSS*/
div {
  width: 100%;
  height: 100%;
  font-size: 12px;
  border: 1px solid black;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
/*This is the class method of specificity in CSS*/
.blue {
    color: blue;
}
.red {
  color: red;
}
/*This is id method of specificity*/
/*The id taks precedence to the class*/
#title {
  font-weight: bold;
  color: purple;
}
/*Using !important overides the rest of the speificities*/
.green {
  color: green !important;
}
/*Using both takes the highest precedence of all*/
#title.green {
  color: gray;
}

section {
  height: 80vh;
  border: 1px solid black;
}